<article typeof="schema:Article" class="article_teaser">
    <header class="article_teaser__header">
        <h2><a href="{{ content.url }}">{{ content.title }}</a></h2>
        <span class="article_teaser__header__author">Submitted by <a rel="schema:author" typeof="schema:Person" property="schema:name" href="#">Joe Blogs</a></span>
    </header>
    <div class="article_teaser__content">
        {{ content.img }}
        <div class="article_teaser__content__text">
            {{ content.text }}
        </div>
    </div>
    <div class="article_teaser__footer">
        {{ content.links }}
    </div>
</article>
